<ion-header>
    <ion-toolbar>
        <ion-title>Last updates</ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div id="content">
        <ion-item>
            <ion-card *ngIf="lastDescr != null">
                <ion-card-header>
                    <ion-card-subtitle>{{lastDescr.date}}</ion-card-subtitle>
                    <ion-card-title>Last saved project description</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <label>Title:</label> {{lastDescr.title}}
                    <label>Teacher:</label> {{lastDescr.teacher}}
                    <label>Description:</label> {{lastDescr.description}}
                    <label>Deadline:</label> {{lastDescr.deadline}}
                    <ion-button expand="block" (click)="useLastDescr()" color="light">Use this version</ion-button>
                </ion-card-content>
            </ion-card>
            <ion-card *ngIf="lastDescr == null">
                <ion-card-header>
                    <ion-card-title>There aren't any edits in project</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-item>
        <ion-list *ngIf="removedFiles != null && removedFiles.length!= 0">
            <ion-item>
                <ion-title>Removed files:</ion-title>
            </ion-item>
            <ion-item *ngFor="let file of removedFiles">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{file.date}}</ion-card-subtitle>
                        <ion-card-title>{{file.fileName}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <label>Description:</label>{{file.fileDescription}}
                        <label>Path:</label>{{file.filePath}}
                        <ion-row wrap>
                            <ion-col>
                                <ion-button color="light" expand="block" (click)="open(file.filePath)">Open</ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button color="light" expand="block" (click)="restore(file)">Restore</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
        <ion-item *ngIf="removedFiles == null">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>There aren't any removed files</ion-card-title>
                </ion-card-header>
            </ion-card>
        </ion-item>
        <div id="footer">
            <ion-button color="Light" (click)="toDescription()">
                <ion-icon name="book"></ion-icon>
                <!--<label>Descr.</label>-->
            </ion-button>
            <ion-button color="Light" (click)="toHome()">
                <ion-icon name="home"></ion-icon>
                <!--<label>Home</label>-->
            </ion-button>
            <ion-button color="Light" (click)="toFiles()">
                <ion-icon name="document"></ion-icon>
                <!--<label>Files</label>-->
            </ion-button>
        </div>
    </div>
</ion-content>
