<ion-header>
    <ion-toolbar>
        <ion-title>activityinfo</ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>
                {{info.type}} &nbsp; {{info.date}}
            </ion-card-subtitle>
            <ion-card-title>
                {{info.name}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item *ngIf="info.dataType == 'project' && info.data != null">
                <ion-card-content>
                    <h2>Saved project details:</h2>
                    <ion-label>Title:</ion-label>
                    {{data.title}}
                    <ion-label>Teacher:</ion-label>
                    {{data.teacher}}
                    <ion-label>Description:</ion-label>
                    {{data.description}}
                    <ion-label>Deadline:</ion-label>
                    {{data.date}}
                </ion-card-content>
                <!--<ion-button (click)="redoProject(info)">
                    <ion-icon name="redo"></ion-icon>
                    Go back to this version
                </ion-button>-->
            </ion-item>
            <ion-item *ngIf="info.dataType == 'file'">
                <ion-card-content>
                    <h2>Saved file details:</h2>
                    <p>
                        {{data.fileName}}<br>
                        {{data.fileDescription}}<br>
                        {{data.filePath}}
                    </p>
                    <ion-button
                            (click)="openFile(data)">
                        <ion-icon name="folder-open"></ion-icon>&nbsp;Open
                    </ion-button>
                    <ion-button *ngIf="info.type == 'File removed'"
                                (click)="returnFile(data)">
                        <ion-icon name="redo"></ion-icon>
                        Return file
                    </ion-button>
                </ion-card-content>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
