<ion-header>
    <ion-toolbar>
        <ion-title>
            My project
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card id="addFile">
        <ion-card-header>AddFile</ion-card-header>
        <ion-card-content>
            <ion-input type="text" placeholder="File name" id="fileName"></ion-input>
            <ion-input type="text" placeholder="File description" id="fileDescr"></ion-input>
            <ion-button (click)="addFile()">Choose file</ion-button>
        </ion-card-content>
    </ion-card>
    <ion-list *ngIf="Files.length != 0">
        <h4>My Files</h4>
        <ion-item *ngFor="let file of Files">
            <ion-card>
                <ion-card-header><h3>{{file.fileName}}</h3></ion-card-header>
                <ion-card-content>
                    <h4>Short description:</h4>
                    {{file.fileDescription}}
                    {{file.filePath}}
                    <ion-row wrap>
                        <ion-col col-6>
                            <ion-button
                                    (click)="openFile(file)">
                                <ion-icon name="folder-open"></ion-icon>&nbsp;Open
                            </ion-button>

                            <ion-button
                                    (click)="removeFile(file)">
                                <ion-icon name="trash"></ion-icon>&nbsp;Remove from project
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
