<ion-header>
  <ion-toolbar>
    <ion-title>
      StorageDemo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="readMyStorage()">Read Storage</ion-button>
  <p>
    {{rperson.id}}
    {{rperson.name}}
    {{rperson.salary}}
  </p>
</ion-content>
