<ion-header>
  <ion-toolbar>
    <ion-title>
      Simple List Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="../../assets/imgs/mike.png">
      </ion-avatar>
      <h2>Это Просто Майк</h2>
      <p> Просто классный парень</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="../../assets/imgs/ben.png">
      </ion-avatar>
      <h2>Василий из Гомеля</h2>
      <p> работаю в IT</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="../../assets/imgs/max.png">
      </ion-avatar>
      <h2>Макс Дубров</h2>
      <p> Играю на гитаре</p>
    </ion-item>
    <ion-item>
      <ion-avatar item-left>
        <img src="../../assets/imgs/perry.png">
      </ion-avatar>
      <h2>Петр </h2>
      <p> Менеджер</p>
    </ion-item>
  </ion-list>
</ion-content>
