<script src="home.page.ts"></script>
<script src="home.ts"></script>
<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header text-center> My meal</ion-list-header>
        <ion-button (click)="doAdd(itm)">
            <ion-icon name="add-circle"></ion-icon>
            Add new meal
        </ion-button>
        <ion-item-sliding *ngFor="let item of items" #itm>
            <ion-item>{{item}}</ion-item>
            <ion-item-options side="start">
                <ion-button color="danger" (click)="doRemove(item,itm)">
                    <ion-icon name="remove-circle"></ion-icon>
                    Delete
                </ion-button>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-button color="danger" (click)="eat(item,itm)">
                    <ion-icon name="rose"></ion-icon>
                    For you
                </ion-button>
            </ion-item-options>

        </ion-item-sliding>


    </ion-list>

</ion-content>
