<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button ></ion-button>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="showInfo(item)">
            <ion-icon [name]=item.icon></ion-icon>
            {{ item.drink }}
            <p></p>
        </ion-item>
    </ion-list>
</ion-content>
