<ion-header>
  <ion-toolbar>
    <ion-title>
      Andrew Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="left" slot="fixed">
    <ion-fab-button (click)="takeFromGallery()">
      <ion-icon name="albums"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <label>My image</label>
  <img [src]="currentImage" *ngIf="currentImage">

</ion-content>
