<ion-header>
    <ion-toolbar>
        <ion-title>
            Dishes without CSS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let p of darray">
            <ion-card>
                <ion-card-header>
                    <ion-badge>{{p.name}}</ion-badge>
                </ion-card-header>
                <ion-card-content>
                    <h3>{{ p.category }}<br/></h3>
                    <p>{{ p.price | currency }}<br/>{{ p.label }}<br/>{{ p.description }}</p>
                    <ion-img [alt]="p.name" [src]="p.image"></ion-img>
                    <ion-card>
                        <ion-card-header>
                            <ion-badge>{{p.comment.author}}</ion-badge>
                            <ion-badge class="badge">{{p.comment.rating}}/5</ion-badge>
                        </ion-card-header>
                        <ion-card-content>{{p.comment.text}}</ion-card-content>
                    </ion-card>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
