#footer{
  position: fixed;
  left: 0; bottom: 0;
  padding: 5px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  background: linear-gradient(to top, #ffffff, #efefef);
}
#footer > ion-button{
  --box-shadow : none;
  color: black;
  width: 30%;
  height: 100%;
  margin: 0 1.5% 1.5%;
  text-align: center;
  font-size: small;
}
#content{
  margin-bottom: 40px;
}
ion-content{
  --background: url("../../assets/imgs/background.jpg") repeat !important;
}
ion-row > ion-col{
  display: inline-block;
  width: 50%;
}
ion-col > ion-button{
  width: 100%;
}
ion-item > ion-card{
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
ion-card{
  box-shadow:none;
}
