<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand="block" color="Light" (click)="toDescription()">
        <ion-icon name="book"></ion-icon>
        <label>Description</label>
    </ion-button>
    <ion-button expand="block" color="Light" (click)="toFiles()">
        <ion-icon name="document"></ion-icon>
        <label>Files</label>
    </ion-button>
    <ion-button expand="block" color="Light" (click)="toActivities()">
        <ion-icon name="flash"></ion-icon>
        <label>Activities</label>
    </ion-button>
</ion-content>
