<ion-header>
    <ion-toolbar>
        <ion-title>
            Project description
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="Project != undefined">
        <ion-card-header>{{Project.title}}<br/>{{Project.teacher}}</ion-card-header>

        <ion-card-content>
            <ion-badge>
                {{Project.date | daysLeft}}
            </ion-badge>
            <ion-card-title>
                Description:
            </ion-card-title>
            {{Project.description}}
        </ion-card-content>
        <ion-button (click)="switchEdit()">Edit project details</ion-button>

    </ion-card>
    <ion-card id="editDetails" style="display: none">
        <ion-card-header>
            <ion-card-title>
                Editing project:
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <label>Title</label>
            <ion-input type="text" placeholder="Title" id="title"></ion-input>
            <label>Teacher</label>
            <ion-input type="text" placeholder="Teacher" id="teacher"></ion-input>
            <label>Description</label>
            <ion-input type="text" placeholder="Description" id="description"></ion-input>
            <label>Deadline</label>
            <ion-input type="date" placeholder="Deadline" id="date"></ion-input>
            <ion-button (click)="editProject()">Save</ion-button>
            <ion-button (click)="clear()">Clear</ion-button>
        </ion-card-content>
    </ion-card>
    <!--<ion-list *ngIf="lastActivity.length != 0">
        <ion-item>
            <h1>Last activities:</h1>
        </ion-item>
        <ion-item *ngFor="let item of lastActivity">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
                    <ion-card-title>{{item.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <label>Date:</label>
                    {{item.date}}
                    <ion-button (click)="viewAct(item)"><ion-icon name="eye"></ion-icon>View details</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>-->
</ion-content>
