<ion-header>
    <ion-toolbar>
        <ion-title>
            Project files
        </ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="content">
        <ion-card id="addFile">
            <ion-card-header>
                <ion-card-title>Add file</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-input type="text" placeholder="File name" id="fileName"></ion-input>
                <ion-input type="text" placeholder="File description" id="fileDescr"></ion-input>
                <ion-button color="light" (click)="addFile()">Choose file</ion-button>
            </ion-card-content>
        </ion-card>
        <ion-list *ngIf="Files.length != 0">
            <h4 style="display: block; width: 100px; margin: auto; text-align: center">My Files</h4>
            <ion-item *ngFor="let file of Files">
                <ion-card>
                    <ion-card-header><h3>{{file.fileName}}</h3></ion-card-header>
                    <ion-card-content>
                        <h4>Short description:</h4>
                        {{file.fileDescription}}
                        <ion-card-subtitle>Path:</ion-card-subtitle>
                        {{file.filePath}}
                        <ion-row wrap>
                            <ion-col>
                                <ion-button color="light"
                                            (click)="openFile(file)">
                                    <ion-icon name="folder-open"></ion-icon>&nbsp;Open
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button color="light"
                                            (click)="removeFile(file)">
                                    <ion-icon name="trash"></ion-icon>&nbsp;Remove
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
        <div id="footer">
            <ion-button color="Light" (click)="toDescription()">
                <ion-icon name="book"></ion-icon>
                <!--<label>Descr.</label>-->
            </ion-button>
            <ion-button color="Light" (click)="toHome()">
                <ion-icon name="home"></ion-icon>
                <!--<label>Home</label>-->
            </ion-button>
            <ion-button color="Light" (click)="toActivities()">
                <ion-icon name="flash"></ion-icon>
                <!--<label>Activities</label>-->
            </ion-button>
        </div>
    </div>
</ion-content>
