#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  background: linear-gradient(to top, #ffffff, #efefef);
}

#footer > ion-button {
  --box-shadow : none;
  color: black;
  width: 30%;
  height: 100%;
  margin: 0 1.5% 1.5%;
  text-align: center;
  font-size: small;
}

#content {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 45px;
}

#editDetails {
  width: 100%;
  position: fixed;
  margin-top: 0;
}

ion-card {
  margin-top: 0;
}

#editDetails > label {
  font-size: larger;
}

ion-content {
  --background: url("../../assets/imgs/background.jpg") repeat !important;
}

.start-anim {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.hiddenEdit {
  transform: translateX(-250%);
  transition: all .5s;
}

.hiddenDescr {
  transform: translateX(250%);
  transition: all .5s;
}
ion-card{
  box-shadow:none;
}
ion-badge{
  width: 100%;
  display: block;
  text-align: center;
}
textarea{
  width: 100%;
  height: 150px;
}
