<ion-header>
    <ion-toolbar>
        <ion-title>
            Project description
        </ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="editDetails" class="hiddenEdit anim">
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    Editing project:
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <label>Title</label>
                <ion-input type="text" placeholder="Title" id="title"></ion-input>
                <label>Teacher</label>
                <ion-input type="text" placeholder="Teacher" id="teacher"></ion-input>
                <label>Description</label>
                <textarea type="text" placeholder="Description" id="description"></textarea>
                <label>Deadline</label>
                <ion-input type="date" placeholder="Deadline" id="date"></ion-input>
                <ion-row wrap>
                    <ion-col>
                        <ion-button expand="block" color="light" (click)="editProject()">Save</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" color="light" (click)="clear()">Delete project</ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
    <div id="content" class="hiddenDescr anim start-anim">
        <ion-card *ngIf="Project != undefined">
            <ion-card-header>
                <ion-card-title>{{Project.title}}</ion-card-title>
                <ion-card-subtitle>{{Project.teacher}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-badge color="light">
                    {{Project.date | daysLeft}}
                </ion-badge>
                <ion-card-subtitle>
                    Description:
                </ion-card-subtitle>
                {{Project.description}}
            </ion-card-content>
            <ion-button (click)="switchEdit()" expand="block" color="light">Edit project details</ion-button>
        </ion-card>
    </div>
    <footer id="footer">
        <ion-button color="Light" (click)="toFiles()">
            <ion-icon name="document"></ion-icon>
            <!--<label>Files</label>-->
        </ion-button>
        <ion-button color="Light" (click)="toHome()">
            <ion-icon name="home"></ion-icon>
            <!--<label>Home</label>-->
        </ion-button>
        <ion-button color="Light" (click)="toActivities()">
            <ion-icon name="flash"></ion-icon>
            <!--<label>Activities</label>-->
        </ion-button>
    </footer>
</ion-content>
