<ion-header>
    <ion-toolbar>
        <ion-title>
            Testing pipes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h5>A</h5>
    <ion-input [(ngModel)]="x1" placeholder="A"></ion-input>
    <h5>B</h5>
    <ion-input [(ngModel)]="x2" placeholder="B"></ion-input>
    <h5>C</h5>
    <ion-input [(ngModel)]="x3" placeholder="C"></ion-input>
    <p *ngIf="(x1!= NaN) && (x2!=NaN)">
        A + B == {{x1 |sum: x2}}
    </p>
    <p *ngIf="(x1!= NaN) && (x2!=NaN) && (x3!=NaN)">
        (Sum from A to B)*C == {{[x1, x2, x3] |sumExtended}}
    </p>
    <h5>Ваше имя</h5>
    <ion-input [(ngModel)]="name" placeholder="Your name"></ion-input>
    <p *ngIf="name!='' && name!=NaN">
        {{name |nameGreetings}}
    </p>
</ion-content>
