#footer{
  z-index: 10000;
  position: fixed;
  left: 0; bottom: 0;
  padding: 5px;
  width: 100%;
  height: 40px;
  overflow: hidden;
  background: linear-gradient(to top, #ffffff, #efefef);
}
#footer > ion-button{
  color: black;
  width: 30%;
  height: 100%;
  margin: 0 1.5% 1.5%;
  text-align: center;
  font-size: small;
}
#content{
  margin-bottom: 40px;
}
#editDetails > label{
  font-size: larger;
}
ion-content{
  --background: url("../../assets/imgs/background.jpg") repeat !important;
}
