<ion-header>
    <ion-toolbar>
        <ion-title>
            Project description
        </ion-title>
        <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div id="content">
        <ion-card *ngIf="Project != undefined">
            <ion-card-header>{{Project.title}}<br/>{{Project.teacher}}</ion-card-header>

            <ion-card-content>
                <ion-badge color="light">
                    {{Project.date | daysLeft}}
                </ion-badge>
                <ion-card-title>
                    Description:
                </ion-card-title>
                {{Project.description}}
            </ion-card-content>
            <ion-button (click)="switchEdit()" expand="block" color="light">Edit project details</ion-button>

        </ion-card>
        <ion-card id="editDetails" style="display: none">
            <ion-card-header>
                <ion-card-title>
                    Editing project:
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <label>Title</label>
                <ion-input type="text" placeholder="Title" id="title"></ion-input>
                <label>Teacher</label>
                <ion-input type="text" placeholder="Teacher" id="teacher"></ion-input>
                <label>Description</label>
                <ion-input type="text" placeholder="Description" id="description"></ion-input>
                <label>Deadline</label>
                <ion-input type="date" placeholder="Deadline" id="date"></ion-input>
                <ion-row wrap>
                    <ion-col>
                        <ion-button expand="block" color="light" (click)="editProject()">Save</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="block" color="light" (click)="clear()">Delete project</ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <!--<ion-list *ngIf="lastActivity.length != 0">
            <ion-item>
                <h1>Last activities:</h1>
            </ion-item>
            <ion-item *ngFor="let item of lastActivity">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>{{item.type}}</ion-card-subtitle>
                        <ion-card-title>{{item.name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <label>Date:</label>
                        {{item.date}}
                        <ion-button (click)="viewAct(item)"><ion-icon name="eye"></ion-icon>View details</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>-->
        <div id="footer">
            <ion-button color="Light" (click)="toFiles()">
                <ion-icon name="document"></ion-icon>
                <!--<label>Files</label>-->
            </ion-button>
            <ion-button color="Light" (click)="toHome()">
                <ion-icon name="home"></ion-icon>
                <!--<label>Home</label>-->
            </ion-button>
            <ion-button color="Light" (click)="toActivities()">
                <ion-icon name="flash"></ion-icon>
                <!--<label>Activities</label>-->
            </ion-button>
        </div>
    </div>
</ion-content>
